@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,400&family=Roboto+Slab:wght@300;600&family=Roboto:wght@100&display=swap');
body{
    background: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
    justify-content: center;

}
#mainNavbar{
    padding-top: 40px;
    padding-right: 20px;
}
#mainNavbar .navbar-brand{
    color: rgb(104, 23, 23);
    font-size: 50px;
    font-weight: 600;
    margin-inline-end: auto;
}
#mainNavbar .nav-link{
    justify-content: flex-end;
    color: rgb(104, 23, 23);
    font-size: 20px;
}
#super{
    height: 100px;
    background-color: rgb(229, 228, 254);

}
#super h1{
    text-align: center;
    font-size: 45px;
    font-weight: 550;
    color: #db1919;
}
#serLink{
    height: 40px;
    /* text-decoration: #EA1C2C; */
}
#gmap h1{
    font-weight: 900;
    /* font-size: xx-large; */
    font-size: 60px;
    line-height: 80px;
}
#gmap p{
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    /* font-weight: 300; */
}
#serLink1{
    background-color: rgb(229, 228, 254);
}
/* #serLink1 .col{
    height: 50px;
    
} */
#feat{
    background-color: rgb(229, 228, 254);
}


